@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Entrar na Conta</h1>

<form  id="registerForm"  method="post">
    <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="password">Palavra-Passe</label>
        <input type="password" class="form-control" id="password" name="password" required />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>

<a href="/Identity/Account/Register">Não tem uma conta? Registre-se</a>
