@page
@model ProjetoDW.Models.UtilizadoresR

@{
    ViewData["Title"] = "Register";
}

<h1>Create</h1>

<h4>UtilizadoresR</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="UtilizadoresR" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Nome" class="form-control" aria-required="true" placeholder="Nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Imagem" class="form-control" type="file" accept="image/*" />

                <span asp-validation-for="Imagem" class="text-danger"></span>
          </div>
          <div class="form-group">
             
              <input asp-for="Telemovel" class="form-control" placeholder="Telemóvel"/>
              <span asp-validation-for="Telemovel" class="text-danger"></span>
          </div>
          <div class="form-group">
              
              <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
              <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="form-group">
              
              <input asp-for="NIF" class="form-control" placeholder="NIF"/>
              <span asp-validation-for="NIF" class="text-danger"></span>
          </div>
          <div class="form-group">
              
              <input asp-for="Idade" class="form-control" placeholder="Idade"/>
              <span asp-validation-for="Idade" class="text-danger"></span>
          </div>
          <div class="form-group">
              
              <input asp-for="DataNascimento" class="form-control" type="date" placeholder="Data de Nascimento"/>
              <span asp-validation-for="DataNascimento" class="text-danger"></span>
          </div>
          <div class="form-group">
              <input type="submit" value="Create" class="btn btn-primary" />
          </div>
      </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

