@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registo";
}

<h1>@ViewData["Title"]</h1>

@if (Model.DisplayConfirmAccountLink)
{
    <p>
        Este site ainda não tem envio de e-mails real configurado.<br />
        Normalmente receberias um link por e-mail, mas podes clicar aqui: <br />
       
    </p>
}
else
{
    <p>Verifica o teu e-mail para confirmar a conta.</p>
}
