@model ProjetoDW.Models.Cartas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cartas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEnvio" class="control-label"></label>
                <input type="date" asp-for="DataEnvio" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="DataEnvio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dateInput = document.querySelector('input[type="date"]');
        if (dateInput) {
            dateInput.addEventListener('keydown', function (e) {
                e.preventDefault();
            });
        }
    });
</script>

