html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../recursos/imagens_geral/transferir.jpg");
  margin-bottom: 60px;

}


.container {
  position: relative;
  height: 50vh;
  width: 50vw;
  text-align: center;
  border-radius: 10px;
  background-image: url("../recursos/imagens_geral/papelbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index:0;
  border: 20px solid transparent; /* ← Reduzido de 30px para 10px */
  border-image: url("../recursos/imagens_geral/borda_dourada.png") 700 round;
  border-image-outset: 30px;
  background-clip: padding-box;

}
