html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../duela.png");
  margin-bottom: 60px;
  
}

.container-border{
  display: flex;
  margin: auto;
  height: 100vh;
  width: 75vw;
  align-items: stretch;
  justify-content: stretch;
  border: 30px solid transparent; /* ← Reduzido de 30px para 10px */
  border-radius: 0px;
  border-image: url("../Wallpaper_001.png") 25 round;
  padding: 0;
  box-sizing: border-box;
  z-index:2;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #f2e7c3;
  z-index:0;
  
}
