

    <style>
        .home {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .nomes {
            align-self: flex-start;
            margin-left: 20%; 
            text-align: left;
        }
        
    </style>


<div class="home">
    <h1>Sobre Nós</h1>
    <img src="recursos/imagens_geral/NÓS.jpg" width="60%" style="border: 3px solid #e0c36c; box-shadow: 0 2px 8px rgba(255, 215, 0, 0.5);;"></img>
    <p class="nomes"><br/>Catarina Pereira de Matos nº25976</p>
    <p class="nomes">Pedro Emanuel Góis Alves da Silva Brito nº25939</p>
    <h4>Descrição do trabalho</h4>
    <p>Tivemos a ideia de desenvolver um site voltado para pessoas idosas que desejam deixar
        cartas para seus filhos em momentos significativos. O objetivo é permitir que, mesmo após
        o falecimento, essas pessoas ainda possam transmitir mensagens e compartilhar palavras
        importantes com seus entes queridos. Essa proposta foi inspirada no anime Violet
        Evergarden.</p>
</div>
